<!DOCTYPE html>

<html>

<head>
    <!-- Favicon -->
    <!--link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}"-->

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type="text/javascript"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <!-- Datatable -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.15/dataRender/datetime.js"></script>


    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/queue.v1.min.js"></script>
    
    

    <style>
        .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

    </style>
    <script>
        function addTest(id) {
            //if (window.location.search !== "")
            // window.location.search =  id ;
            //console.log("test");
            const urlParams = new URLSearchParams(window.location.search);
            urlParams.set('test', id);
            window.location.search = urlParams;
            //URLSearchParams(window.location.search).set('test' = id);
            //location.reload();


        }
        function addPmu(pmu) {
            //if (window.location.search !== "")
            // window.location.search =  id ;
            //console.log(pmu,firstId);
            const urlParams = new URLSearchParams(window.location.search);
            urlParams.set('pmu', pmu);

            urlParams.set('test', '');
            window.location.search = urlParams;
            //URLSearchParams(window.location.search).set('pmu' = pmu);
            //URLSearchParams(window.location.search).set('test' = '');


        }
            // if (window.location.search === "")
            //     addPmu(1)
    </script>
</head>

<body>
    <div class="card">
        <div class="card-body">
            <!-- <form method="post">
                <textarea class="form-control" rows="5" name="user_csv"></textarea>
                <button class="btn btn-success mt-2">Render CSV</button>
            </form> -->
            <a class="btn btn-success mt-2" href="{{ url_for('root') }}">View Data</a>
            <a class="btn btn-success mt-2"  href="{{ url_for('graph') }}">Graph Data</a>
            <a class="btn btn-success mt-2"   href="{{ url_for('livetest') }}">Live Test</a>
            <div class="mt-4">
                <div class="btn-group mb-4">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        PMU Identifier
                    </button>
                    <div class="dropdown-menu">
                        {% for pmu in pmus %}
                        <a class="dropdown-item" href='javascript:addPmu({{pmu["pmu_ident"]}});'>
                            {{pmu["pmu_ident"]}}
                        </a>
                        {% endfor %}
                    </div>
                </div>
                
                <div class="btn-group mb-4">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Test Identifier
                    </button>
                    <div class="dropdown-menu">
                        {% for ident in idents %}
                        <a class="dropdown-item" href="javascript:addTest({{ident['ident']}});">
                            {{ident["ident"]}}
                        </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="mt-4">
                
                
                <!-- <img src="/matplot.png" alt="random points as png" height="200"> -->
                </div>
                
            </div>
            
        </div>
    </div>
    <div class="wrapper">
    <div id="my_dataviz"></div>
    <div id="my_dist" style="overflow:hidden"></div>
    <div id="arriv_scatter"></div>
    <div id="inter_arriv"></div>
    
    </div>
  
    
</body>


<!-- Load graph scripts in static folder -->
<script type="text/javascript" src="{{ url_for('static', filename='js/delay_scatter.js' ) }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/arriv_scatter.js' ) }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dist_delay.js' ) }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dist_arriv.js' ) }}"></script>

<script type="text/javascript">
    delay_scatter(JSON.parse('{{ delay | tojson | safe}}'))
    arriv_scatter(JSON.parse('{{ arrivdata | tojson | safe}}'))
    dist_delay(JSON.parse('{{ distdata | tojson | safe}}'))
    dist_arriv(JSON.parse('{{ arriv_dist | tojson | safe}}'))
</script>

</html>