<!DOCTYPE html>

<html>

<head>
    <!-- Favicon -->
    <!--link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}"-->

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type="text/javascript"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <!-- Datatable -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.15/dataRender/datetime.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
    <script src="https://unpkg.com/jspdf-autotable@3.5.22/dist/jspdf.plugin.autotable.js"></script>
    <script>
        function addTest( id ) {
            //if (window.location.search !== "")
               // window.location.search =  id ;
               //console.log("test");
                const urlParams = new URLSearchParams(window.location.search);
                urlParams.set('test', id);
                window.location.search = urlParams;
                        //URLSearchParams(window.location.search).set('test' = id);
                        //location.reload();
            
                    
        }
        function addPmu(pmu) {
                //if (window.location.search !== "")
                // window.location.search =  id ;
                //console.log(pmu,firstId);
                const urlParams = new URLSearchParams(window.location.search);
                urlParams.set('pmu', pmu);
                
                urlParams.set('test', '');
                window.location.search = urlParams;
                    //URLSearchParams(window.location.search).set('pmu' = pmu);
                    //URLSearchParams(window.location.search).set('test' = '');
                

            }

        
        
        // if (window.location.search === "")
        //     addPmu(1)
    </script>
</head>

<body>
    <div class="card">
        <div class="card-body">
            <!-- <form method="post">
                <textarea class="form-control" rows="5" name="user_csv"></textarea>
                <button class="btn btn-success mt-2">Render CSV</button>
            </form> -->
            <a class="btn btn-success mt-2" href="{{ url_for('root') }}">View Data</a>
            <a class="btn btn-success mt-2" href="{{ url_for('graph') }}">Graph Data</a>
            <a class="btn btn-success mt-2" href="{{ url_for('livetest') }}">Live Test</a>
            <div class="mt-4">
                <div class="btn-group mb-4">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        PMU Identifier
                    </button>
                    <div class="dropdown-menu">
                        {% for pmu in pmus %}
                        <a class="dropdown-item" href='javascript:addPmu({{pmu["pmu_ident"]}});'>
                            {{pmu["pmu_ident"]}}
                        </a>
                        {% endfor %}
                    </div>
                </div>

                <div class="btn-group mb-4">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Test Identifier
                    </button>
                    <div class="dropdown-menu">
                        {% for ident in idents %}
                        <a class="dropdown-item" href="javascript:addTest({{ident['ident']}});">
                            {{ident["ident"]}}
                        </a>
                        {% endfor %}
                    </div>
                </div>

                <div class="btn-group mb-4">
                    <button type="button" class="btn btn-info" onclick="generatePDF()">
                         Download PDF
                    </button>
                    
                </div>

                <div class="btn-group mb-4">
                    <select id="pagesize" class="btn btn-info dropdown-toggle" >
                        <option value="a2">Select pdf Size</option>
                        <option value="letter">letter</option>
                        
                    </select>
                </div>
                
                <table id="proxies" class="display table" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Count</th>
                            <th>Time Stamp</th>
                            <th>PMU Minute</th>
                            <th>PMU Second</th>
                            <th>Server Minute</th>
                            <th>Server Second</th>
                            <th>Delay</th>
                            <th>Delay Rolling Mean</th>
                            <th>Phase Mag.</th>
                            <th>Phase Angle</th>
                            <th>Phase Freq.</th>
                            <th>Transmission Freq</th>
                            <th>Pack Seq No</th>
                            <th> Test Identifier</th>
                            <th> PMU Identifier</th>
                        </tr>  
                    </thead>
                    
                    <tbody>
                        {% for row in rows %}
                        <tr>
                            {% for i in range(0,len(row))%}
                            <td>{{row[i]}}</td>
                            {%endfor%}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">


    $('#proxies').DataTable({
            "ordering": false,
            "bPaginate": false,
            "bFilter": false, 
        });

    var page = 'a2';
    var pageSize = document.getElementById("pagesize");
    pageSize.addEventListener("change", function () {
        page = pageSize.value;
    });
        
    function generatePDF() {
        console.log("here");

        var doc = new jsPDF('l', 'pt', page);


        doc.autoTable({ html: '#proxies' })

    

        doc.save('table.pdf');
    }
</script>

</html>